<div class="">
    <h1>home page</h1>
    <a href="/posts/add">viet bai moi</a>
    <hr>
    <a href="/posts">tat ca bai viet</a>
    <hr>
    <a href="/about">thong tin</a>
    <hr>
    <a href="/">trang chu</a>
</div>