<div class="">
    <h1>tao bai viet moi</h1>
    <form action="/posts" method="post">
        <div class="">
            <label for="title">title</label>
            <input type="text" required name="title" value="{{title}}">
        </div>

        <div class="">
            <label for="title">text</label>
            <textarea name="text" required>{{text}}</textarea>
        </div>

        <button type='submit'>tao bai viet moi</button>
    </form>
</div>